body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff,pink);
    color: #ffffff;
  


}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
#footer {
    text-shadow: 0px 0px 10px black;
}

#bday-age {
    margin: 10px 0 15px 0;
    background-color: #EFB0C9;
    border-radius: 10px;
    padding: 10px 15px;
}

#bday-date {
    margin: 0;
    background-color: #EFB0C9;
    border-radius: 10px;
    padding: 10px 15px;
}

#main-image {
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

.gift-title {
    margin-bottom: 15px;
}

.gift-hints {
    margin-bottom: 10px;
}

.gift-img {
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    display: flex;
    margin: auto;
}
#gift-img-1:hover{
    background-image:url("images/happy.gif") ;
}
#gift-img-2:hover{
    background-image:url("images/hot.webp") ;
}
#gift-img-3:hover{
    background-image:url("images/genius.webp") ;
    background-size: cover;
}
#gift-img-4:hover{
    background-image:url("images/badass.webp") ;
}
#gift-img-5{
    height: 200px;
}
#gift-img-5:hover{
    background-image:url("images/cheers.webp") ;
}
#footer{

    width: 400px;
    margin: auto ;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-style: italic;
}
a{
    color: #ffffff;
}